.bodyContainer {
    z-index: -1 !important;
    display: flex;
    flex-flow: row;
}

.borderSection {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid grey;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-left {
    width: 60%;
    margin:10px;
    border: 2px solid #007D8C;
    border-radius: 8px;

}

.col-right {
    float: right;
    width: 35%;

}

.carousel {
    margin: 0;
    width: 100%;
    padding: 4px;
    color: #333;
    background: #007D8C;
    float: right;
}

.slick-slide {
    text-align: center;
    color:#007D8C;
    background: white;
}

.slick-slide img {
    width: 100%;
}

.atributesList {
    font-size: 1.5em;
    z-index: -1 !important;
}

#dateSelection {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.dateSelectionTitle {
    justify-content: center;
    padding-top: 0;
    font-size: 1em !important;
    padding-bottom: 0 !important;
}

#datepicker {
    margin: auto;
    margin-top: 1em;
    justify-content: center;
    font-size: 1em;
}

.highlightAvailableDates a {
    background-color: #79CCCD !important;
    color: #ffffff !important;
}

#hourSelection {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.hourSelectionTitle {
    justify-content: center;
    font-size: 1em !important;
    padding-bottom: 0 !important;
}
#hourPicker{
display: flex;
flex-flow: row;
}
.hourButton{
    background-color: #007D8C;
    border: none;
    padding: 15px;
    border-radius: 8px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;

}
