* {
    box-sizing: border-box;
}

.borderSection {
    border-bottom: 1px solid grey;
}

.boxSection {
    border: 1px solid grey;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-left {
    width: 58.33%;
}

.col-right {
    width: 41.66%;
}

#experienceDescription {
    text-align: justify;
}

.carousel {
    margin: 0;
    width: 100%;
    padding: 4px;
    color: #333;
    background: #419be0;
    float: right;
}

.slick-slide {
    text-align: center;
    color: #419be0;
    background: white;
}
.slick-slide img{
  width:100%;
}

.experienceHeader {
    font-size: 32px !important;
    line-height: 40px !important;
    letter-spacing: -0.6px !important;
}

.price {
    margin-right: 55.5%;
}

.button {
    background-color: #F16664;
    border: none;
    padding: 15px;
    border-radius: 8px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#map {
    width: 400px;
    height: 400px;
    background: yellow
}
