

*, *:before, *:after {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-flow: row wrap;
    width: calc(100vw - 4em);
    height: 100vw;
}

.row:last-child {
    margin-bottom: 0;
}

.column {
    display: flex;
    flex-flow: column;
    margin: 0.5em;

}

.tile {
    float: left;
    position: relative;
    display: inline-block;
    margin: 0.5em;
}

.tileL {
    height: calc(80% - 1em);
    width: calc(50% - 1em);
}

.tileL2-top {
    height: calc(50%);
    width: calc(100%);
    margin: 0 0 0.5em 0;
}
.tileL2-bottom {
    height: calc(50%);
    width: calc(100%);
    margin: 0.5em 0 0 0;
}

.tileS {
    height: calc(20% - 1em);
    width: calc(25% - 1em);
}

/*@media only screen and (max-width: 650px) {

    .tileL, .tileM, .tileS {
        width: 100%;
        height: 50%;
        padding-bottom: 100%;
    }
}

@media only screen and (min-width: 651px) {

    .tileL, .tileM {
        width: 50%;
    }
    .tileS {
        width: 25%;
        padding-bottom: 15%;
    }
}*/

#levada1 {
    background-image: url("../levada1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

#levada2 {
    background-color: blue;
}

#levada3 {
    background-color: orange;
}

#levada4 {
    background-color: pink;
}

#levada5 {
    background-color: black;
}

#levada6 {
    background-color: green;
}

#levada7 {
    background-color: red;
}
