body {
    height: 100%;
    width: 100%;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-flow: row wrap;
    margin: 2;
}

.row:last-child {
    margin-bottom: 0;
}

.column {
    display: flex;
    flex-flow: column;
}

.tile {
    float: left;
    position: relative;
    display: inline-block;
}

.tileL {
    height: 80%;
}

.tileM {
    height: 40%;
}

.tileS {
    height: 20%;
}

@media only screen and (max-width: 650px) {
    /* Smartphone view: 1 tile */
    .tileL, .tileM, .tileS {
        width: 100%;
        height: 50%;
        padding-bottom: 100%;
    }
}

@media only screen and (min-width: 651px) {
    /* Small desktop / ipad view: 3 tiles */
    .tileL, .tileM {
        width: 50%;
    }
    .tileS {
        width: 25%;
        padding-bottom: 15%;
    }
}

#levada1 {
    background-image: url("levada1.jpg");
}

#levada2 {
    background-color: blue;
}

#levada3 {
    background-color: orange;
}

#levada4 {
    background-color: pink;
}

#levada5 {
    background-color: black;
}

#levada6 {
    background-color: green;
}

#levada7 {
    background-color: red;
}
