@import url("wrapContent.css");
@import url("mainTiles.css");
@import url("experienceDetails.css");

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Primary Styles */

*, *::before, *::after {
    box-sizing: border-box;
}

h1 {
    font-size: 1.4em;
}

em {
    font-style: normal;
}
