.s-layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
    z-index: 2;
}

.s-layout__content {
    margin: 1em;
    margin-top: 5em;
    z-index: 2;
}

/*  --------------------------------------------------------------------------------------------------------------------------------------
    Sidebar
    -------------------------------------------------------------------------------------------------------------------------------------- */

.s-sidebar__trigger {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    background: #008975;
}

.s-sidebar__trigger>i {
    display: inline-block;
    margin: 1.5em 0 0 1.5em;
    color: #192b3c;
}

.s-sidebar__nav {
    color: rgba(255, 255, 255, 0.7);
    position: fixed;
    top: 0;
    left: -15em;
    overflow: hidden;
    transition: all .3s ease-in;
    width: 15em;
    height: 100%;
    background: #008975;
    z-index: 15;
}

.s-sidebar__nav:hover, .s-sidebar__nav:focus, .s-sidebar__trigger:focus+.s-sidebar__nav, .s-sidebar__trigger:hover+.s-sidebar__nav {
    left: 0;
}

.s-sidebar__nav ul {
    position: absolute;
    top: 4em;
    left: 0;
    margin: 0;
    padding: 0;
    width: 15em;
}

.s-sidebar__nav ul li {
    width: 100%;
}

.s-sidebar__nav-link {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 4em;
    text-decoration: none;
    color: inherit;
}

.s-sidebar__nav-link em {
    position: absolute;
    top: 50%;
    left: 4em;
    transform: translateY(-50%);
}

.s-sidebar__nav-link:hover {
    background: #008975;
}

.s-sidebar__nav-link>i {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 4em;
    height: 4em;
}

.s-sidebar__nav-link>i::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* For Mobile */

@media (min-width: 42em) {
    .s-layout__content {
        margin: 1em;
        margin-left: 5em;
    }
    /* Sidebar */
    .s-sidebar__trigger {
        width: 4em;
    }
    .s-sidebar__nav {
        width: 4em;
        left: 0;
    }
    .s-sidebar__nav:hover, .s-sidebar__nav:focus, .s-sidebar__trigger:hover+.s-sidebar__nav, .s-sidebar__trigger:focus+.s-sidebar__nav {
        width: 15em;
    }
}

/*  --------------------------------------------------------------------------------------------------------------------------------------
    Footer
    -------------------------------------------------------------------------------------------------------------------------------------- */

.s-layout__content {
    min-height: calc(100vh - 1em);
    overflow: hidden;
}

.s-footer {
    height: 4em;
    width: calc(100% - 4em);
    background-color: #cfcfcf;
    color: white;
    z-index: 5;
    bottom: -4em;
    left: 4em;
    position: absolute;
}

.s-footer__column {
    float: left;
    width: 50%;
    text-align: center;
    color: black;
}

.s-footer__column > img {
    margin-top: 0.5em;
    height: 47px;
    width: 64px;
}

.s-footer__column > p {
    line-height: 2em;
    margin: 1em 0 1em 0;
}
.s-footer__column > .adeira {
    line-height: 2em;
    margin: 1em 0 1em 0;
    display:inline
}

/*  --------------------------------------------------------------------------------------------------------------------------------------
    Body
    -------------------------------------------------------------------------------------------------------------------------------------- */

.s-layout__madeiraBackground {
    background-image: url("../img/background/madeirabackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-origin: border-box;
    left: 4em;
    filter: contrast(200%) brightness(50%);

    width: 100vw;
    height: 100vh;
    z-index: 1;

    position: fixed;
    display: block;
}
