body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    margin-bottom: 10px;
}

.column {
    display: flex;
    flex-flow: column;
}

.row:last-child {
    margin-bottom: 0;
}

.tile {
    float: left;
    position: relative;
    display: inline-block;
}

.tileL {
    height: 80vh;
}

.tileM {
    height: 40vh;
}

.tileS {
    height: 20vh;
}

@media only screen and (max-width: 650px) {
    /* Smartphone view: 1 tile */
    .tileL, .tileM, .tileS {
        width: 100vw;
        height: 50vh;
        padding-bottom: 100%;
    }
}

@media only screen and (min-width: 651px) {
    /* Small desktop / ipad view: 3 tiles */
    .tileL, .tileM {
        width: 49.5vw;
    }
    .tileS {
        width: 25vw;
        padding-bottom: 15%;
    }
}

#levada1 {
    background-image: url("levada1.jpg");
}

#levada2 {
    background-color: blue;
}

#levada3 {
    background-color: orange;
}

#levada4 {
    background-color: pink;
}

#levada5 {
    background-color: black;
}

#levada6 {
    background-color: green;
}

#levada7 {
    background-color: red;
}
