body {
  font-family: Avenir, sans-serif;
  margin: 2rem auto;

}
h2,
p {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.pointer{
    cursor: pointer;
}
.boxes > * {
  padding: .5rem;
  background-color: #333;
  color: white;
}
.boxes {
  display: grid;
  grid-auto-rows: minmax(125px, auto);
  grid-gap: .5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tilesPhoto{

    overflow: hidden;
    max-width: 100%;
   max-height: 100%;
   object-fit: contain;

}
@media screen and (min-width: 40em) {
  .boxes {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2px;
  }
}
.boxes li {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}
@media screen and (min-width: 40em) {
  .boxes li:nth-child(1) {
    grid-column: 1 / -1;
    grid-row: span 3;
  }
}
@media screen and (min-width: 40em) {
  .boxes li:nth-child(2) {
    grid-column: span 2;
    grid-row: span 7;
  }

  .boxes li:nth-child(3) {
    grid-column: span 4;
    grid-row: span 3;
  }

  .boxes li:nth-child(4) {
    grid-column: span 2;
    grid-row: span 4;
  }

  .boxes li:nth-child(5),
  .boxes li:nth-child(6) {
    grid-column: span 2;
    grid-row: span 2;
  }
}
