@import url("wrapContent.css");
@import url("mainTiles.css");
@import url("experienceDetails.css");
@import url("checkout.css");

html, body {
    color: #484848;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
    margin: 0;
    padding: 0;
    letter-spacing: -0.6px !important;
}

*, *::before, *::after {
    box-sizing: border-box;
}

h1 {
    font-size: 1.4em;
    margin: 0 !important;
}

em {
    font-style: normal;
}
