@import url("wrapContent.css");
@import url("mainTiles.css");
@import url("experienceDetails.css");
@import url("checkout.css");
@import url("index.css");
html, body {
    color: #484848;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
    margin: 0;
    padding: 0;
    letter-spacing: -0.6px !important;
}

*, *::before, *::after {
    box-sizing: border-box;
}

h1 {
    font-size: 1.4em;
    margin: 0 !important;
}

em {
    font-style: normal;
}

#logoDiv {
    height: 25%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("../img/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 80%;
    width: 27%;
}

.s-layout__madeiraBackground {
    background-image: url("../img/background/madeirabackground.jpg");
    background-size: cover;
    left: 4em;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    position: fixed;
    display: block;
}

#categories {
    width: 100%;
    height: 33.3%;
    margin: 0 auto !important;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.categoryButton {
    background-color: #6BB7B9;
    border: none;
    padding: 15px;
    border-radius: 8px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    z-index: 5;
}

.flexButton {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 2em !important;
}

#search {
    width: 100%;
    height: 15%;
    margin: 0 auto !important;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.searchButton {
    background-color: #F16664;
    border: none;
    padding: 15px;
    border-radius: 8px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    z-index: 5;
    display: flex;
    flex-flow: row;
    align-items: center;
    font-size: 3em !important;
}

.iconSearch {
    margin-right: 0.5em;
}

#welcomeTitle {
    width: auto;
    font-size: 2.5em !important;
    display: flex;
    flex-flow: row;
    align-items: center;
}

#welcomeText {
    color: white;
    background-color: #007D8C;
    text-align: center;
    width: 100%;
}
